<div class="popup">
    <div class="popup-cover">
        <div id="close-icon">
            <img  id="close" src="close.png" (click)="closeForgot()" alt="">
        </div>
        <form [formGroup]="forgotForm" action="">
            <article>
                <div>
                    <Label>Email:</Label>
                    <input formControlName="email" placeholder="Email..." type="text">
                </div>            
            </article>
            <div id="button-div">
                <button (click)="forgot()" >Submit</button>
            </div>
            <p *ngIf="isSent" style="color: green;font-size: 18px;">Password sent to your email</p>
            <p *ngIf="isExist" style="color: red;font-size: 18px;">{{errMessage}}</p>
        </form>       
    </div>

</div>