<div id="body">
    <main class="main">
      <app-header />
      <section id="main-section">
        <h1>The Best Book Management System <br>In The Market</h1>
      </section>
    </main>  
    <section id="best">
        <h1>Best Sellers</h1>
        <div class="best-grid">
          <article>
            <div class="text">
              <h2>#book1</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tellus a enim dictum molestie. Pellentesque porta maximus justo id ultricies. Nulla facilisi. Ut dignissim ultricies consequat. Etiam quis elit vulputate, hendrerit ante sed, vestibulum sapien. Praesent faucibus accumsan est id rhoncus.
              </p>
            </div>
            <div class="img">
              <img src="assets/img2.jpg" alt="">
            </div>
            <div></div>
          </article>
          <div class="line"></div>
          <article>
            <div class="text order2">
              <h2>#book1</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tellus a enim dictum molestie. Pellentesque porta maximus justo id ultricies. Nulla facilisi. Ut dignissim ultricies consequat. Etiam quis elit vulputate, hendrerit ante sed, vestibulum sapien. Praesent faucibus accumsan est id rhoncus.
              </p>
            </div>
            <div class="img order1">
              <img src="assets/img1.jpg" alt="alt">
            </div>        
          <div></div>
          </article>
          <div class="line"></div>
          <article>
            <div class="text">
              <h2>#book1</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tellus a enim dictum molestie. Pellentesque porta maximus justo id ultricies. Nulla facilisi. Ut dignissim ultricies consequat. Etiam quis elit vulputate, hendrerit ante sed, vestibulum sapien. Praesent faucibus accumsan est id rhoncus.
              </p>
            </div>
            <div class="img">
              <img src="assets/img3.jpg" alt="">
            </div>        </article>
        </div>
    </section>
    <div  >
    </div>
  </div>
